.quiz-create {
    background: #a42222;
    height: 100vh;
    padding-top: 62px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

h1 {
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}